  section {
    overflow: hidden;
    padding: 80px 0;
  }
  
  .section-bg {
    background-color: rgb(246, 246, 246);
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
  
  
  @media (max-width: 575px) {
    .portfolio .portfolio-flters li {
      font-size: 14px;
      margin: 0 5px;
    }
  }
  

  .portfolio .portfolio-wrap {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
    
    overflow: hidden;
  }
  
  .portfolio .portfolio-wrap img {
    transition: 0.3s;
    position: relative;
    z-index: 1;
   
  }

  
  .portfolio .portfolio-wrap .portfolio-info {
    padding: 25px 20px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #f3f3f3;
    z-index: 2;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 a {
    color: var(--color-default);
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 a:hover {
    color: var(--color-primary);
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 50px;
  }
  
  .portfolio .portfolio-wrap:hover img {
    transform: scale(1.1);
  }
  




  /* Dina favoriter CSS*/

  .departments .nav-tabs {
    border: 0;
  }
  
  .departments .nav-link {
    border: 0;
    padding: 20px;
    color: #555555;
    border-radius: 0;
    border-left: 5px solid #fff;
    cursor: pointer;
  }
  
  .departments .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .departments .nav-link p {
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .departments .nav-link:hover h4 {
    color: #f42522;
  }
  

  
  .departments .tab-pane img {
    float: left;
    max-width: 300px;
    padding: 0 15px 15px 0;
  }
  
  @media (max-width: 768px) {
    .departments .tab-pane img {
      float: none;
      padding: 0 0 15px 0;
      max-width: 100%;
    }
  }
  
  
  
  
  

  