

<div class="container position-absolute top-50 start-50 translate-middle rounded-3 ">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">{{ loggedIn ? 'You are logged in!' : 'Login' }}</div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email" required>
              </div>
              <br>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" required>
              </div>
              <br>
              <button  type="submit"  class="btn btn-primary" [disabled]="!form.valid">Submit</button>
              <button  class="btn btn-primary m-2" routerLink="/register">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>