
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <nav class="container-fluid">
    <a class="navbar-brand" routerLink="home">SUPER</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  href="#" routerLinkActive="active">Recept</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="online" routerLinkActive="active">Inspiration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contact" routerLinkActive="active">Kundservice</a>
        </li>
      
       
       
      </ul>
      <div >
  
        <div >
          <a  Login  routerLink="/login" routerLinkActive="active"   *ngIf="!this.isloggedIn" class="btn btn-danger m-2" >Login</a>
          <a *ngIf="!this.userService.isLoggedIn" class="btn btn-outline-primary" routerLinkActive="active"
            routerLinkActive="active" routerLink="/logout">Logout</a>
          <button (click)="logoutUser()" *ngIf="this.userService.isLoggedIn" type="button" class="btn btn-danger">Logout</button>
        </div>
  </div>
</div>
</nav>
</nav>
<router-outlet></router-outlet>

<app-footer> </app-footer>