

<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Butikadress</h4>
            <p>
              Sveagatan 14526 <br>
              Stockholm, SW 14523<br>
            </p>
          </div>
  
        </div>
  
        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Kontakta oss </h4>
            <p>
              <strong>Telefono:</strong> +33 78 45 12<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Öppettider</h4>
            <p>
              <strong>Mån-Lör: 8AM</strong> - 18PM<br>
              Söndag: Stängd
            </p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Följ oss</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
  
      </div>
    </div>
  
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Super</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->